# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## frontend
# dependencies
/node_modules
frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem
.notes.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

## contracts
/contracts/artifacts
/contracts/cache
/contracts/node_modules
/contracts/lib
/contracts/.env
/contracts/deployments/*.localhost.json

/contracts/lib/*
/contracts/.gitkeep 
